/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* general */
body{
	font-family: 'Inter', sans-serif;
	color: #333333;
}

/* colors */
.text-primary{
	color: #3373BA !important;
}
.text-secondary{
	color: #56718D !important;
}
.text-success{
	color: #00C961 !important;
}
.text-warning{
	color: #ED872E !important;
}
.text-dangery{
	color: #EC4444 !important;
}
.text-info{
	color: #4FA9DD !important;
}
.text-dark{
	color: #333333 !important;
}
.text-light{
	color: #C4C4C4 !important;
}

.bg-primary{
	background-color: #3373BA !important;
}
.bg-secondary{
	background-color: #56718D !important;
}
.bg-success{
	background-color: #00C961 !important;
}
.bg-warning{
	background-color: #ED872E !important;
}
.bg-dangery{
	background-color: #EC4444 !important;
}
.bg-info{
	background-color: #4FA9DD !important;
}
.bg-dark{
	background-color: #333333 !important;
}
.bg-light{
	background-color: #C4C4C4 !important;
}

/* buyer */
.buyer .switch label input[type="checkbox"]:checked + .lever {
	background-color: rgba(86,113,141,0.5);
}
.buyer .switch label input[type="checkbox"]:checked + .lever::after {
  	background-color: #56718d;
}
.buyer .badge-default{
	background-color: #56718D !important;
}
.buyer label{
	color: #56718D !important;
}
.buyer .icon-menu{
	color: #56718D !important;
}
.buyer .active {
  	color: #56718D !important;
}
.side-nav .collapsible-body a {
  	background-color: rgba(0,0,0,0.025) !important;
}
.white-skin .side-nav .collapsible li a:not(.collapsible-header):hover {
  color: #56718D !important;
}

/* switcher */
.switch-role {
	color: #333333;
	margin: 0px 24px;
	font-size: .9rem;
	font-weight: 400;
	border-top: 1px rgba(0,0,0,0.1) solid;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	padding: 8px 0px;
}

/* sidebar */
.side-nav .collapsible a {
	font-size: .9rem;
}
.white-skin .side-nav .collapsible li .collapsible-header {
	color: #333333;
}
.collapsible-header .fas.fa-angle-down {
  	color: #C4C4C4;
}
.side-nav .collapsible a {
  	height: 42px;
  	line-height: 42px;
}

/* navbar */
.white-skin .navbar .navbar-nav .nav-item a, .white-skin .navbar.double-nav a {
	color: #5C5C5C;
	font-size: 1rem;
}
.notification{
	position: absolute;
	left: 16px;
	top: 2px;
	border-radius: .5rem;
}
.white-skin .navbar .navbar-nav .nav-item a, .white-skin .navbar.double-nav a {
	font-size: .9rem;
	color: #333333;
}

/* footer */
footer.page-footer .footer-copyright {
	background-color: transparent;
	font-size: .9rem;
	color: rgba(0,0,0,0.5);
}
.white-skin .page-footer {
	background-color: transparent;
}