/*================================================================================
	Item Name: RUN System | Main Dashboard Template
	Version: 2.0
	Author: RUN System
	Author URL: http://www.themeforest.net/user/RUN System
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* CHANGE FONT FAMILY */
body{
	font-family: 'Inter', sans-serif;
}
.navigation {
	font-family: 'Inter', sans-serif;
}
.header-navbar {
	font-family: 'Inter', sans-serif;
}

/* CHANGE GRADIENT COLOR */
.main-menu.menu-light .navigation > li ul .active {
  background: linear-gradient(118deg, #3373BA, rgba(78, 168, 220, 0.7));
  box-shadow: 0 0 10px 1px rgba(78, 168, 220, 0.7);
}
.main-menu.menu-light .navigation > li.active > a {
  background: linear-gradient(118deg, #3373BA, rgba(78, 168, 220, 0.7));
  box-shadow: 0 0 10px 1px rgba(78, 168, 220, 0.7);
}

/* FORM */
.form-label {
	font-size: 0.9rem;
}